:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3;
    --reserve-text-color: #FFFFFF;
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --card-set-gap: 30px;
}
html {
    box-sizing: border-box;
    
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
    font-family: var(--primary-font-family);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a {
    text-decoration: none;
}
address {
    font-style: normal;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  /* ========== HEADER ==========*/
.header {
    border-bottom: 1px solid #ececec;
}
.header .container {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    align-items: center;
}
.site-nav-list{
    display: flex;
    align-items: center;
    margin-left: 93px;
}
.nav-menu-item:not(:last-child),
.contact-item:not(:last-child) {
    margin-right: 50px;
}
.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.logo {
    font-family: var(--secondary-font-family);
    color:#000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.accent-logo-color {
    color: var(--accent-text-color);
  }
.nav-menu-item-link {
    color: var(--primary-text-color);
}
.nav-menu-item-link, 
.contact-item-link {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-item-link:hover,
.nav-menu-item-link:focus,
.contact-item-link:hover,
.contact-item-link:focus {
    color: var(--accent-text-color);
}
.current {
    color: var(--accent-text-color);
} 
.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0; 

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    transform: translateY(25%);
  
}
.contact-item-link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
}
.contact-item {
    display: flex;
    align-items: center;
}
.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* =========== HERO ==========*/
.hero {
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
 } 
.hero-title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; 
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--reserve-text-color);
    margin-bottom: 30px;
}
.hero-btn {
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    border: 1px solid var(--accent-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--reserve-text-color);
    background-color: var(--accent-text-color);
}

/* ========= ADVANTAGES ======== */
.advantage .container {
    padding-top: 94px;
}
.advantage-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.advantage-list-item {
    min-width: 270px;
}
.advantage-list-item:not(:last-child) {
    margin-right: 30px;
}
.advantage-list-item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    }
.advantage-list-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.advantage-icon{
    width: 70px;
    height: 70px;
}
.advantage-icon-wrapper {
    margin-bottom: 30px;
    padding: 25px 100px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
/*  ========SERVICES======== */
.services-list {
    display: flex;
    justify-content: space-between;
}
.services-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.services-list-item {
    position: relative;
}
.list-title {
    position: absolute;
    left: 0;
    bottom: 0;
    
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--reserve-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    transform: translateY(0);
}
/* ======= TEAM ======= */
.team {
    background: #F5F4FA;
}
.worker-list {
    display: flex;
    justify-content: space-between;  
}
.worker-list-item {
    padding-bottom: 30px;
    background-color: var(--reserve-text-color);
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px  rgba(0, 0, 0, 0.14), 
        0px 2px 1px  rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.worker-info {
    margin-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
}
.worker-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.worker-position{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}
.worker-social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.worker-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 
.worker-social-link:hover,
.worker-social-link:focus {
    background-color: var(--accent-text-color);
    color: var(--reserve-text-color);
}
.social-network {
    fill:currentColor;
}
/* ========= CLIENTS ======== */
.clients-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.clients-list-item:not(:last-child) {
    margin-right: 30px;
}
.clients-title {
    margin-bottom: 50px;
    font-weight: 700;   
    font-size: 36px;    
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 90px;
    border: 1px solid;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.clients-link:hover,
.clients-link:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
}
.clients-logo {
    fill: currentColor;
}



/* ====== FOOTER ======== */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
} 
.logo-white {
    color: var(--reserve-text-color);
}
.main-contacts-list {
    margin-top: 20px;
}
.main-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.main-contacts-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.main-contacts-link.map {
    color: var(--reserve-text-color);
}
.footer .container {
    display: flex;
    justify-self: start;
    align-items: baseline;
}   
/* =====footer social links======= */
.footer-social {
    margin-left: 70px;
}
.join {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--reserve-text-color);
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--reserve-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-text-color);
}
.social-logo {
    fill:currentColor;
}
/* ======== PORTFOLIO ========== */
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-item:not(:last-child) {
    margin-right: 9px;
}
.filter-btn {
    min-width: 73px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-text-color);
    color: var(--reserve-text-color);
    box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}
.examples-list-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.examples-list-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list-item-link:hover,
.examples-list-item-link:focus {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-list-item-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.examples-list-item-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.wrapper {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33,150,243, 0.9);
    color: var(--reserve-text-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    transform: translateY(100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list-item-link:hover .overlay,
.examples-list-item-link:focus .overlay{
    transform: translateY(0);
}
/* ==========   modal button =========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;
    background-color:rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 700ms linear;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: none;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 700ms cubic-bezier(.42,0,.58,1);

    padding: 8px;
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: var(--reserve-text-color);
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: #FFFFFF;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}